{:frodo/config {:web {:port 3000
                      :handler-fn sample-project.core/-main}
                :nrepl {:port 7888
                        :cljs-repl? true}}

 :nomad/environments {"prod"
                      {:frodo/config {:web {:port #nomad/edn-env-var "PORT"}
                                      :nrepl {:cljs-repl? false}}}}}}
