;{:nomad/environments
 ;{"dev"
  {:frodo/config {:web {:port 3000 ;;#nomad/env-var "PORT"
                        :handler-fn sample-project.core/-main}
                  :nrepl {:port 7888
                          :cljs-repl? true}}}
  ;"prod"
  ;{:frodo/config {:web {:port 3000;sample-project.core/port
  ;                      :handler-fn sample-project.core/-main}
  ;                :cljs-repl? false}}}}
